[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
aiosqlite = "*"
apscheduler = "*"
attrs = "*"

[dev-packages]

[requires]
python_version = "3.7"
